body {
    margin: 0;
    padding: 0;
}

header {
    padding: 35px 0 35px 0;
    background-color: bisque;
} 

ol {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

li a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: gray;
    transition: all 350ms ease;
}